<div class="cameras-show container col-6">
  <div class=" row justify-content-start col-5 my-5">
    <div class="card-category d-flex">
      <div class="card-photo ">
        <%=avatar_image_tag current_user,class:"img_user avatar"%>
      </div>
      <div class="card-product-infos">
        <span>Profil Name: <%=current_user.name%> <br> </span>
        <span>Email: <%=current_user.email%></span>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-5">
    <div class="card-category reservation col-5">
      <h4>My Reservations</h4>
      <% res = Reservation.where("user_id =#{current_user.id}")%>
      <ul>
      <% res.each do |r|%>
        <li>
        <%=r.camera.name%> -
        <%=r.day%> -
        <%=r.camera.price%> €</li>
      <%end%>
      </ul>
    </div>
  </div>

  <div class="row justify-content-end my-5">
    <div class="card-category cameras col-5">
      <h4>My cameras</h4>
      <% cameras = Camera.where("owner_id =#{current_user.id}")%>
      <ul>
      <% cameras.each do |camera|%>

      <li data-camera-id="<%= camera.id %>"><%= link_to camera.name, camera_path(camera) %>
      <% if policy(camera).destroy? %>
                  <button type="button" class="btn btn-red"> <%= link_to "Delete", camera_path(camera),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  remote: true
                   %></button>
                  <% end %>

                  <% if policy(camera).edit? %>
                  <button type="button" class="btn btn-yellow"><%= link_to "Edit", edit_camera_path(camera) %></button>
                  <% end %>

      </li>

      <%end%>
      </ul>
    </div>
  </div>
</div>
