
<div class="container-all">

  <div class="card-room">

      <% @cameras.each do |camera| %>
        <div class='card-room-infos'>

          <div class='title'>
            <h2><%=camera.name.upcase %></h2>
            <h4 class="card-room-pricing"><%=camera.price %>€</h4>
          </div>

          <div class='infos_options'>

            <div class='photo'>
              <%= cl_image_tag camera.photo, height: 200, width: 240, crop: :fill %>
            </div>

            <div class='infos'>

              <div class='address'>
                <p><%=camera.address %></p>
              </div>

              <div class='card-room-options'>
                <button type="button" class="btn-blue"><%= link_to "See More >", camera_path(camera) %></button>
              </div>

            </div>

          </div>

        </div>
      <% end %>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAP_API_KEY'] %>">
  </div>
</div>
